<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.kite.print"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- hardware features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="ly.kite.print.checkout.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ly.kite.print.checkout.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ly.kite.print.checkout.OrderReceiptActivity"
            android:label="@string/title_activity_order_receipt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ly.kite.print.address.AddressBookActivity"
            android:label="@string/title_activity_address_book"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="ly.kite.print.address.AddressEditActivity"
            android:label="@string/title_activity_address_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="ly.kite.print.address.AddressSearchActivity"
            android:label="@string/title_activity_address_search"
            android:screenOrientation="portrait" >
        </activity>

        <!-- PayPal activites & services: -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

    </application>

</manifest>
