<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.kite"
    android:versionCode="100"
    android:versionName="1.0">


    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application>


        <!-- Kite SDK activities -->

        <activity
            android:name=".journey.selection.ProductSelectionActivity"
            android:theme="@style/Theme.KiteSDK.ProductSelection"
            android:launchMode="singleTop"/>

        <activity
            android:name=".journey.creation.ProductCreationActivity"
            android:theme="@style/Theme.KiteSDK.ProductCreation"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"/>

        <activity
            android:name=".checkout.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/Theme.KiteSDK.Checkout"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".checkout.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/Theme.KiteSDK.Payment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name=".checkout.OrderReceiptActivity"
            android:label="@string/title_activity_order_receipt"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KiteSDK.OrderReceipt"/>

        <activity
            android:name=".address.AddressBookActivity"
            android:label="@string/title_activity_address_book"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KiteSDK.AddressBook"/>

        <activity
            android:name=".address.AddressEditActivity"
            android:label="@string/title_activity_address_edit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KiteSDK.AddressEdit"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".address.AddressSearchActivity"
            android:label="@string/title_activity_address_search"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KiteSDK.AddressSearch"/>


        <!-- PayPal -->

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false"/>

        <activity
            android:name="com.paypal.android.sdk.payments.PaymentActivity"/>

        <activity
            android:name="com.paypal.android.sdk.payments.LoginActivity"/>

        <activity
            android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"/>

        <activity
            android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"/>

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"/>

        <activity
            android:name="io.card.payment.DataEntryActivity"/>

    </application>

</manifest>
