<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.kite"
    android:versionCode="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- hardware features (Used by Card.IO for credit card scanning in the Managed Checkout) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- for most things, including kite, card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application>
        <activity
            android:name=".checkout.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            >
        </activity>
        <activity
            android:name=".checkout.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            >
        </activity>
        <activity
            android:name=".checkout.OrderReceiptActivity"
            android:label="@string/title_activity_order_receipt"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            >
        </activity>
        <activity
            android:name=".address.AddressBookActivity"
            android:label="@string/title_activity_address_book"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"  >
        </activity>
        <activity
            android:name=".address.AddressEditActivity"
            android:label="@string/title_activity_address_edit"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".address.AddressSearchActivity"
            android:label="@string/title_activity_address_search"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"  >
        </activity>
        <activity
            android:name=".printshop.ProductHomeActivity"
            android:label="@string/title_activity_product_home"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"  >
        </activity>

        <!-- PayPal activites & services: -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity
            android:name="com.paypal.android.sdk.payments.PaymentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.paypal.android.sdk.payments.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
