<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.kite.devicephotopicker">

    <application>

        <activity
            android:name="ly.kite.devicephotopicker.DevicePhotoPickerActivity"
            android:label="@string/title_device_photo_picker"
            android:theme="@style/Theme.DevicePhotoPicker"/>

    </application>

</manifest>
