<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.kite.sample"
    android:versionCode="200"
    android:versionName="2.0">


    <!-- Used for GCM -->

    <permission android:name="ly.kite.sample.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="ly.kite.sample.permission.C2D_MESSAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/android:Theme.DeviceDefault.Light">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- GCM -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="ly.kite.sample" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a20b9e9795a45b9206a841b1ee086c15a2b5b39b" />

    </application>

</manifest>
